<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetoTcc.Properties.Settings.prodpacoteConnectionString"
            connectionString="server=127.0.0.1;user id=root;password=1234;database=prodpacote"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjetoTcc.Properties.Settings.prodpacoteConnectionString1"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=prodpacote"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjetoTcc.Properties.Settings.prodpacoteConnectionString2teste"
            connectionString="server=localhost;user id=root;password=1234;database=prodpacote"
            providerName="MySql.Data.MySqlClient" />
        <add name="ProjetoTcc.Properties.Settings.NovaConexão" connectionString="server=localhost;user id=root;password=1234;persistsecurityinfo=True;database=prodpacote"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>